body {
	font-family: Tahoma, Geneva, sans-serif;
}
div#topDecorationLine {
	width: 100%;
	height: 10px;
	background-color: #DD0B00;
}

div#wrapper {
	width: 960px;
	margin: 0 auto;
}
header, div#content, footer {
	width: 100%;
}

header h1#brandBox {
	display: inline-block;
	vertical-align: bottom;
	font-size: 2em;
	font-weight: 900;
	padding: 20px;
	color: #DD0B00;
	border-radius: 0 0 5px 5px;
}
header h1#brandBox:hover {
	background-color: #DD0B00;
	color: white;
	cursor: default;
}
header nav {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 100px;
}
header nav a {
	display: inline-block;
	text-decoration: none;
	color: #017B86;
	margin: 0 10px;
	padding: 0 0 3px 0;
	position: relative;
	bottom: 17px;
	border: 3px solid transparent;
	border-width: 0 0 3px 0;
}
header nav a:hover {
	border-color: #DD0B00;
}
header div#authBox {
	display: inline-block;
	vertical-align: bottom;
	float: right;
	padding-top: 5px;
}
header div#authBox input[type=submit] {
	display: none;
}
header div#authBox div#userDetails {
	display: none;
	padding-top: 25px;
}
header div#authBox div#userDetails span.username {
	color: #DD0B00;
}
header  div#authBox div#userDetails span.score {
	font-size: 1.1em;
	color: #DD0B00;
}
header div#authBox div#userDetails a#logoutBtn {
	text-decoration: none;
	color: #017B86;
}
input.textFld {
	display: block;
	border: 1px solid #DD0B00;
	padding: 3px;
	margin-top: 3px;
	border-radius: 3px;
}

div#content {
	margin-top: 100px;
}
div#content div#leftColumn, div#content div#rightColumn {
	display: inline-block;
	overflow: auto;
}
div#content div#leftColumn {
	width: 620px;
}
div#content div#leftColumn div#letterBox .letterLine {
	width: 100%;
	text-align: center;
}
div#content div#leftColumn div#letterBox .letterLine a {
	display: inline-block;
	width: 35px;
	padding: 10px 0;
	text-align: center;
	border: 1px solid #DD0B00;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #017B86;
	margin: 8px;
	font-weight: 900;
	
	transition: background-color .1s;
	-moz-transition: background-color .1s; /* Firefox 4 */
	-webkit-transition: background-color .1s; /* Safari and Chrome */
	-o-transition: background-color .1s; /* Opera */
}
div#content div#leftColumn div#letterBox .letterLine a:hover {
	background-color: #DD0B00;
	color: #FFFFFF;
}
div#content div#leftColumn div#spanner {
	height: 250px;
}
div#content div#leftColumn div#wordContainer {
	text-align: center;
}
div#content div#leftColumn div#wordContainer a#startGame {
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	padding: 15px 5px;
	text-decoration: none;
	color: #017B86;
	border-radius: 5px;
	border: 1px solid #DD0B00;
	background-color: #DD0B00;
	color: white;
	
	transition: background-color .5s;
	-moz-transition: background-color .5s; /* Firefox 4 */
	-webkit-transition: background-color .5s; /* Safari and Chrome */
	-o-transition: background-color .5s; /* Opera */
}
div#content div#leftColumn div#wordContainer div.letterContainer {
	display: inline-block;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #DD0B00;
	border-width: 0 0 3px 0;
	width: 30px;
	margin: 5px;
}
div#content div#rightColumn {
	float: right;
	vertical-align: top;
}
div#content div#rightColumn form {
	margin: 10px;
}
div#content div#rightColumn canvas#hangmann {
	border: 1px solid #DD0B00;
}

.keyboardKeyDown{
	color: #FFFFFF !important;
    background-color: #DD0B00;
    box-shadow: inset 0px 0px 2px 2px #B40404 !important;
}